<div id="signup-modal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
      <div class="bg-white rounded-lg p-6 w-full max-w-md">
            <div class="flex justify-between pr-3">
                  <h2 class="text-xl font-bold mb-4">Sign Up</h2>
                  <div class="cursor-pointer font-bold" [routerLink]="['/']" routerLinkActive="router-link-active">
                        X
                  </div>
            </div>
            <div>
                  <form [formGroup]="SignUpForm" (ngSubmit)="onSignUpformSubmit()">
                        <div class="mb-4">
                              <label for="email" class="block text-sm font-medium text-black">Email</label>
                              <input type="email" formControlName="email" id="email"
                                    class="w-full border-2 border-blue-900 rounded-md p-2" name="email" required />
                        </div>

                        <div class="mb-4">
                              <label for="password" class="block text-sm font-medium text-black">Password</label>
                              <input type="password" formControlName="password" id="password"
                                    class="w-full border-2 border-blue-900 rounded-md p-2" name="password" required />
                        </div>

                        <button [disabled]="this.SignUpForm.invalid" type="submit"
                              class="w-full bg-blue-900 text-white px-4 py-2 rounded-md">
                              Sign Up
                        </button>
                  </form>

                  <button class="absolute top-2 right-2 text-gray-600 hover:text-black">
                        ✖
                  </button>
            </div>

      </div>
</div>